textarea {
  border: 1px black solid;
  width: 30%;
}

.submit-btn:hover {
  background-color: rgb(216, 216, 216);
}

input,
select {
  border: 1px black solid;
}

.hide {
  display: none;
}

.required-field {
  background-color: rgb(255, 140, 140);
}

.asterisk {
  color: rgb(255, 92, 92);
}

.email-sent {
  background-color: rgb(197, 236, 197);
}

.background-image-contact {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/contact-heading-img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contact-bg {
  background-image: url("../assets/Carousel-Bg.jpg");
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
