@tailwind base;
@tailwind components;
@tailwind utilities;


/* ***********************************************
-----MOBILE STYLING: ATTRIBUTE-ICONS SECTION -----
*********************************************** */
.attribute-icons-section {
  background-color: white;
  margin: auto;
  padding: 0 80px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  padding: 100px 0 140px 0;
  margin: 0 auto;
}

.three-icons {
  color: rgb(245, 136, 0);
  font-weight: normal;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.icons-text {
  text-align: center;
  color: rgb(0, 80, 103);
  font-size: 1.6rem;
  font-weight: 700;
}

/* ***********************************************
-----MOBILE STYLING: ATTRIBUTE-ICONS SECTION -----
*********************************************** */
@media only screen and (max-width: 1180px) {
  .content-container {
    display: block;
  }

  .icon-container {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .three-icons {
    height: 100px;
  }
}

@media only screen and (max-width: 770px) {
  .icons-text {
    font-size: 1.3rem;
  }
}
