@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
}

/* *******************************
-----ATTRIBUTE-ICONS SECTION -----
******************************** */
.attribute-icons-section {
  background-color: white;
  margin: auto;
  padding: 0 80px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  padding: 100px 0 140px 0;
  margin: 0 auto;
}

.three-icons {
  color: rgb(245, 136, 0);
  font-weight: normal;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.icons-text {
  text-align: center;
  color: rgb(0, 80, 103);
  font-size: 1.6rem;
  font-weight: 700;
}

/* ***********************************************
-----MOBILE STYLING: ATTRIBUTE-ICONS SECTION -----
*********************************************** */
@media only screen and (max-width: 1180px) {
  .content-container {
    display: block;
  }

  .icon-container {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .three-icons {
    height: 100px;
  }
}

@media only screen and (max-width: 770px) {
  .icons-text {
    font-size: 1.3rem;
  }
}

/* ******************************
-----IMAGE CAROUSEL SECTION -----
****************************** */
.image-carousel-section {
  background-image: url("../assets/Carousel-Bg.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
}

.carousel-sctn-content-container {
  max-width: 1300px;
  display: flex;
  margin: auto;
  padding: 40px 0;
}

.slider-margin {
  width: 450px;
  margin-right: 12rem;
}

.slide-container-landing {
  max-height: 350px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.slide-landing {
  width: auto;
  max-height: 350px;
}

.preview-container {
  margin-bottom: 40px;
}

.preview-img {
  height: 100px !important;
  width: auto !important;
}

.btn-landing {
  background-color: rgb(0, 80, 103) !important;
  padding: 15px 80px !important;
}

.btn-landing:hover {
  background-color: rgb(245, 136, 0) !important;
}

.bullet-list-heading {
  color: rgb(245, 136, 0);
  font-size: 1.35rem;
  font-weight: 550;
  margin-bottom: 10px;
}

.bullet-list {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 30px;
}

/* **************************************
-----IMAGE CAROUSEL SECTION: MOBILE.----
************************************** */
@media only screen and (max-width: 1400px) {
  .carousel-sctn-content-container {
    display: block;
    margin: auto !important;
  }

  .image-carousel-section {
    display: block !important;
    margin: auto !important;
  }

  .slider {
    margin: 0 auto 50px auto !important;
  }

  .list-container {
    margin: auto !important;
    max-width: 800px;
    padding-left: 60px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 540px) {
  .list-container {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .slide-container-landing {
    height: 220px !important;
  }

  .slider {
    width: auto;
  }

  .slide-landing {
    width: auto;
    max-height: 240px;
  }

  .preview-img {
    height: 60px !important;
  }

  .preview-container {
    margin-bottom: 10px;
  }
}

/* ******************************
-----MCC ADVANTAGE SECTION.----
****************************** */
.mcc-advantage-section {
  background-color: white;
  padding-bottom: 2rem;
}

.mcc-advantage-first-section {
  text-align: center;
  margin: auto;
  max-width: 1400px;
  padding: 60px 5%;
  margin-bottom: 20px;
}

.mcc-advantage-subtitle {
  color: rgb(0, 80, 103);
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 10px;
}

.mcc-advantage-heading-text {
  line-height: 2;
}

.advantages-row {
  display: flex;
  max-width: 1400px;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  padding: 0 3%;
}

.advantage-single {
  width: 42%;
  padding-bottom: 4rem;
}

.advantages-img {
  max-width: 100%;
  margin-bottom: 1.8rem;
}

.advantage-name {
  color: rgb(245, 136, 0);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.advantage-description {
  padding-bottom: 2rem;
  line-height: 2;
}

/* ********************************************
-----MOBILE STYLING: MCC ADVANTAGE SECTION.----
******************************************** */
@media only screen and (max-width: 980px) {
  .mcc-advantage-first-section {
    margin-bottom: 4rem;
    padding-bottom: 0;
    max-width: 90%;
  }

  .mcc-advantage-section {
    padding-bottom: 4rem;
  }

  .mcc-advantage-subtitle {
    line-height: 1;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
  }

  .advantages-row {
    display: block;
  }

  .advantage-single {
    margin: auto;
    width: 550px;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 685px) {
  .advantage-single {
    margin: auto;
    width: 87%;
  }

  .mcc-advantage-subtitle {
    font-size: 1.7rem;
  }

  .advantage-name {
    font-size: 1.2rem;
  }
}

/* *****************************
-----TESTIMONIAL SECTION----
****************************** */
.testimonial-section {
  border-top: 20px solid rgb(245, 136, 0);
  background-color: rgb(0, 80, 103);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-content {
  margin: auto;
  max-width: 1400px;
  background-color: rgb(0, 80, 103);
  padding: 60px 0;
}

.testimonial-text {
  text-align: center;
  color: white;
  font-weight: 600;
  line-height: 2;
  padding: 0 10%;
}

/* ********************************************
-----MOBILE STYLING: TESTIMONIAL SECTION-------
******************************************** */
@media only screen and (max-width: 1150px) {
  .testimonial-section {
    height: auto;
  }
  .testimonial-content {
    width: 90%;
    padding: 60px 0;
  }
}

/* *******************************
-----COST EFFECTIVE SECTION-------
**********************************/
.cost-effective-section {
  background-color: white;
  padding: 4rem 4rem;
}

.cost-effective-container {
  width: 100%;
  margin: auto;
  padding: 2rem 0;
  border: solid rgb(245, 136, 0) 3px;
}

.cost-effective-heading {
  color: rgb(0, 80, 103);
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
}

.cost-effective-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap !important;
  margin: 2rem auto 3rem auto;
  text-align: center;
  padding: 0 4rem;
}

.cost-effective-item {
  width: 25%;
}

.check-icon {
  margin: 1rem auto;
  font-size: 5rem;
  color: rgb(0, 80, 103);
}

.item-heading {
  color: rgb(245, 136, 0);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
}

.item-text {
  line-height: 2;
}

/* *********************
-----MAPS SECTION-------
********************** */
.leaflet-container {
  height: 600px;
  width: 100%;  
  z-index: 1;
}

.map-section {
  background-color: white;
  position: relative;
}

.find-us {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: rgb(245, 136, 0);
  z-index: 1011;
  color: white;
  height: 3rem;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 25%;
  padding-right: 2rem;
  font-weight: 600;
  font-size: 1.1rem;
}



/* *************************************
-----MOBILE STYLING: MAPS SECTION-------
****************************************/
@media only screen and (max-width: 900px) {
  .find-us {
    display: none;
  }
}

/* *************************************************
-----MOBILE STYLING: COST EFFECTIVE SECTION-------
************************************************* */

@media only screen and (max-width: 1200px) {
  .item-heading {
    color: rgb(245, 136, 0);
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .cost-effective-heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .cost-effective-section {
    background-color: white;
    padding: 10%;
  }

  .cost-effective-container {
    width: 100%;
    margin: auto;
    padding: 2rem 15%;
  }

  .cost-effective-heading {
    margin: 2rem 1rem 4rem 1rem;
    font-size: 2rem;
  }
  .cost-effective-items {
    display: block;
    margin: auto;
    padding: 0;
  }

  .cost-effective-item {
    margin: auto;
    padding: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 430px) {
  .item-heading {
    font-size: 1.4rem;
  }
}
