/* HEADING SECTION  */
.heading-section {
  position: relative;
  background-color: rgba(241, 241, 241, 0.897);
  height: 18rem;
  text-align: center;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.heading-text {
  padding: 10%;
  line-height: 1.75;
}

.heading-text h2 {
  color: rgb(0, 80, 103);
  font-weight: 600;
  font-size: 3rem;
}

/* SECTION TWO  */
.intro {
  background-color: white;
}

.intro-container {
  display: flex;
  width: 1400px;
  margin: auto;
  padding: 7rem 0;
}

.intro-image {
  height: 250px;
}

.intro-copy-container {
  padding: 0 2rem;
}

.intro-heading {
  color: rgb(0, 80, 103);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 1rem;
}

.intro-text {
  color: black;
  line-height: 2;
}

/* SECTION THREE */
.services-section-three {
  background-color: rgb(0, 80, 103);
  color: white;
}

.services-section-three-container {
  width: 1400px;
  margin: auto;
  padding: 7rem 0;
}

.services-section-three-heading {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.services-section-three-text {
  line-height: 2;
}

/* MOBILE STYLING */
@media only screen and (max-width: 1550px) {
  .intro-container,
  .services-section-three-container {
    width: 90%;
  }
}

@media only screen and (max-width: 1100px) {
  .heading-text h2 {
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 1rem;
  }

  .intro-heading,
  .services-section-three-heading {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .intro-container {
    display: block;
  }

  .intro-image {
    margin: 0 auto 3rem auto;
  }

  .intro-copy-container,
  .services-section-three-container {
    text-align: center;
  }

  .services-section-three-container {
    width: 75%;
  }
}

@media only screen and (max-width: 700px) {
  .heading-section {
    height: 21rem;
  }

  .heading-text h2 {
    font-size: 1.8rem;
    line-height: 1.3;
  }
}