/* .slide-up {
  opacity: 0; 
  transform: translateY(50px); 
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-up.visible {
  opacity: 1 !important; 
  transform: translateY(0) !important; 
} */
